<%= form_with(model: skin_trouble_type, local: true) do |form| %>

  <% if @skin_trouble_type.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @skin_trouble_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, id: :skin_trouble_type_name %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-sm" %>
  </div>
<% end %>