<div class="top-salon-img">
  <div class="main-logo">-Ranunculus-</div>
</div>

<div class="container top-page-contents">
  <div class="top-guide">

    <div class="effect">
      <div>
        <p id="animation">
          当エステサロン Ranunculus（ラナンキュラス）は住宅街にひっそりと佇む女性専用「隠れ家サロン」です。<br>
          丁寧なカウンセリングを行ったうえで、お客様の体調や気分に合わせた施術を行っており、<br>
          プライベートサロンだからできる丁寧なおもてなしで<br>
          日常のストレスから解放された癒しのひと時をお過ごしください。
        </p>
      </div>
    </div>


  </div>
</div>

<style>
  .effect div {
    margin: auto;
    transition: .8s;
    transition-delay: .8s;
  }

</style>
