<%= form_with(model: payment, local: true) do |f| %>

  <% if @payment.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, id: :payment_name %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-sm" %>
  </div>

<% end %>
