/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';



// ---------------------------------------------- all
body {
  padding-top: 70px;
  // font-size:62.5%;
}

a {
  color: #333333;
  &:hover {
    color: #333333;
    background-color: transparent;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

label {
  font-weight: normal;
}

.main {
  padding: 3%;
}

// ---------------------------------------------- navbar
.navbar-costom {
  background-color: #ffe4e1;
  .nav {
    .open {
      a:focus {
        background-color: #ffb6c1;
      }
    }
    li {
      a:hover {
        background-color: #ffb6c1;
      }
    }
    .dropdown-menu {
      right: auto;
      a:hover {
        background-color: transparent;
        font-weight: bold;
      }
    }
    .dev-menu {
      background-color: #ffffc1;
      a:hover {
        background-color: transparent;
      }
      a:focus {
        background-color: transparent;
      }
    }
  }
}

// ---------------------------------------------- sidebar
.sidebar {
  margin-top: 70px;
  display: none;
}

@media screen and (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto
  }
}

.panel-body {
  padding: 5px 5px 5px 40px;
  a {
    font-size: 14px;
  }
}