 /*
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

// ----------------------------------------------

// macbook width 1440px * 753px
// display 2048px

// 
// @media以外の所は全てのサイズで読み込まれます。
// 
// @media screen and (min-width:480px) { 
//     /*　画面サイズが480pxから767pxはここを読み込む　*/
// }
// @media screen and (min-width:768px) and ( max-width:1024px) {
//     /*　画面サイズが768pxから1024pxまではここを読み込む　*/
// }
// @media screen and (min-width:1024px) {
//     /*　画面サイズが1024pxからはここを読み込む　*/
// }

// lg  xl  テレビ、デスクトップPCなどの大画面モニタ  1200px以上
// md  lg  ノートパソコンなどの省サイズモニタ        992px以上
// sm  md  タブレットなど                        768px以上
// xs  sm  ファブレットなど                       576px以上
// -   xs  スマートフォン、組み込み端末など           576px未満


// ---------------------------------------------- all
body {
  padding-top: 50px;
}

a {
  color: #333333;
  &:hover {
    color: #333333;
    background-color: transparent;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

label {
  font-weight: normal;
}

.main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 50px;
  padding: 80px 20px 20% 20px;
}


// ---------------------------------------------- navbar
.navbar-costom {
  background-color: #ffe4e1;
  .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
  }
  .nav {
    .open {
      a:focus {
        background-color: #ffb6c1;
      }
    }
    li {
      a:hover {
        background-color: #ffb6c1;
      }
    }
    .dropdown-menu {
      right: auto;
      a:hover {
        background-color: transparent;
        font-weight: bold;
      }
    }
    .dev-menu {
      background-color: #ffffc1;
      a:hover {
        background-color: transparent;
      }
      a:focus {
        background-color: transparent;
      }
    }
  }
}

@media screen and (max-width:767px) {
  .navbar-brand {
    font-size: 20px;
  }  
}

// ---------------------------------------------- sidebar
.sidebar {
  margin-top: 50px;
  display: none;
  padding-top: 30px;
  padding-bottom: 15%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

.panel-body {
  padding: 5px 5px 5px 40px;
  a {
    font-size: 14px;
  }
}
