.new-action-btn {
  padding: 10px;
  height: 50px;
  a {
    float: right;
    margin-right: 15px;
  }
}

.caution-text {
  text-align: right;
  margin-right: 5%;
}

table {
  .table-in-btn {
    width: 5%;
  }
}
