table {
  // border: solid black 2px;
}

table tr th {
  background-color: #909090;
  color: #f6f6f6;
  padding: 10px;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  // border-width: 2px 0px;
  // border-color: black;
  // border-style: solid;
}

table tr td {
  color: #606060;
  padding: 5px 10px;
  font-size: 12pt;
  // text-align: center;
  border-width: 1px 0px;
  border-color: black;
  border-style: dotted;
  // padding: 0.3em; 
}